[Desktop Entry]
Encoding=UTF-8
Name=BroccoliCoin Core
Comment=Connect to the BroccoliCoin P2P Network
Comment[de]=Verbinde mit dem BroccoliCoin peer-to-peer Netzwerk
Comment[fr]=BroccoliCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BroccoliCoin, eşten eşe kriptografik sanal para birimi
Exec=broccolicoin-qt %u
Terminal=false
Type=Application
Icon=broccolicoin128
MimeType=x-scheme-handler/broccolicoin;
Categories=Office;Finance;
