[Unit]
Description=CZSDoge's distributed currency daemon
After=network.target

[Service]
User=czsdoge
Group=czsdoge

Type=forking
PIDFile=/var/lib/czsdoged/czsdoged.pid
ExecStart=/usr/bin/czsdoged -daemon -pid=/var/lib/czsdoged/czsdoged.pid \
-conf=/etc/czsdoge/czsdoge.conf -datadir=/var/lib/czsdoged -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
